.search_icon{
    height: 30,
}
.mybut{
    color: red;
}
td{
    padding: 0;
}
tr{
    height: 30;
}
.table_td1{
    padding-top: 21;
}
.table_td2{
    padding-bottom: 20px;
}
img{
    height: 30,
    
}